click==7.1.2
fontawesome-markdown==0.2.6
future==0.18.2
Jinja2==2.11.2
joblib==1.0.0
livereload==2.6.3
lunr==0.5.8
Markdown==3.3.3
MarkupSafe==1.1.1
mkdocs==1.1.2
mkdocs-material==4.6.3
nltk==3.5
Pygments==2.7.3
pymdown-extensions==8.1
PyYAML==5.3.1
regex==2020.11.13
six==1.15.0
tornado==6.1
tqdm==4.55.1
