/* Override header and footer with decred dark blue*/
.md-header,
.md-footer-nav,
.md-footer-meta {
    background-color: #051937
}

/* Highlight current page in nav menu */
.md-nav__link--active {
    color      : #005ee1;
    font-weight: bold;
}
.md-nav__link:hover {
    color      : #005ee1;
}

.md-content a {
    font-weight: normal;
}

footer {
    margin-top: 50px !important;
}

/* Increase size of social media links in page footer */
.md-footer-social {
    font-size: 20px;
}

h1 img.icon {
    height: 28px;
    width : 28px;
    vertical-align: middle;
}

h2 img.icon, h3 img.icon {
    height: 26px;
    width : 26px;
    vertical-align: middle;
}

p img.icon {
    height: 24px;
    width : 24px;
    vertical-align: middle;
}

@media only screen and (max-width: 76.1875em){
    html .md-nav--primary .md-nav__title--site {
    	background-color: #051937;
    }
    .md-nav__source {
    	background-color: #122c5c;
    }
}

/* Increase font-size for info/warning/danger boxes. 1.6rem matches the rest of the text. */
.md-typeset .admonition {
    font-size: 1.6rem;
}

/* Disable min-width for headers in tables with at least 7 columns */
.md-typeset table:not([class]) th:first-child:nth-last-child(n+7),
.md-typeset table:not([class]) th:first-child:nth-last-child(n+7) ~ th {
	min-width: 0;
}

/* Improve appearance of tables inside pymdownx.details panels.
   Details panel will have an unnecessary horizontal scroller without this.
   Used in dcrd-and-dcrwallet-cli-arguments.md  */
details .md-typeset__scrollwrap {
    margin: 0 !important;
}
details .md-typeset__table {
    padding: 1.6em 0 !important;
}
details .md-typeset__table code{
    white-space: nowrap;
}

.md-typeset table:not([class]) th{
    background-color: #EDEFF1;
    font-size: 13px;
    font-weight: bold;
    color: #051937;
}
.md-typeset table:not([class]) td{
    font-size: 13px;
}

.md-typeset blockquote{
    border-left:.4rem solid #005ee1;
}
.md-typeset blockquote p{
    color: #005ee1;
}

.md-typeset details summary {
    /* This is the title of a collapsible admonition */
    font-size: 14px;
}
.md-typeset .admonition-title{
    font-size: 14px;
}
.md-typeset .admonition p{
    font-size: 14px;
}

.md-typeset code {
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 3px;
    background-color: #EDEFF1;
    box-shadow: none;
}

.md-typeset pre>code {
    border-radius: 3px;
    background-color: #EDEFF1;
}

#sb_input {
    outline: 0;
    border: 0;
    border-bottom: 1px solid #ccc;
    /*border: 1px solid #ccc;*/
    /*padding: 10px 15px;*/
    padding: 5px;
    min-width: 100px;
    font-size: 0.95em;
    color: #333;
}
.md-typeset table:not([class]) td:not([align]) {
    text-align: center;
}
.md-typeset table:not([class]) td:not([align]):first-child {
    text-align: left;
}


.md-nav__item .fa-external-link {
    font-size: 0.7em !important;
}
.md-container {
    /*background-color: #ddd;*/
}

.block-green {
    color: #00F4C5 !important;
}
.block-red {
    color: #FF7F71 !important;
}
.block-lblue {
    color: #00C6FD !important;
}
.block-blue {
    color: #005ee1 !important;
}
.fa-check {
    color: #00F4C5;
    text-shadow: 1px 1px #bbb;
}
.fa-times {
    color: #FF7F71;
    text-shadow: 1px 1px #bbb;
}
.fa-minus {
    color: #F7F300;
    text-shadow: 1px 1px #bbb;
}
.fa-twitter-square {
    color: #1da1f2;
}
.fa-linkedin-square {
    color: #0077b5;
}
.fa-github-square,
.fa-microphone {
    color: #000;
}
.fa-youtube-square,
.fa-youtube-play {
    color: #ff0000;
}
.fa-comments {
    color: #7289da;
}
.fa-telegram {
    color: #0088cc;
}
.fa-reddit-square {
    color: #ff4500;
}
.fa-medium {
    color: #00ab6c;
}
.fa-facebook-square {
    color: #3b5998;
}
.fa-instagram {
    color: #e1306c;
}
.fa-user-plus,
.fa-newspaper-o {
    color: #239ab9;
}
.fa-envelope,
.fa-pencil-square,
.fa-file-text-o,
.fa-download,
.fa-link,
.fa-external-link,
.fa-window-maximize {
    color: #333;
}

#contributor-group {
    text-align: center;
    padding: 5px;
    margin-top: 45px;
}
.contributor {
    display: inline-block;
    padding-bottom: 45px;
    text-align: center;
    width: 210px;
    /*height: 250px;*/
    vertical-align: top;
}
.contributor .img-round {
    display: inline-block;
    /*margin-bottom: -9px;*/
    border-radius: 50%;
    overflow: hidden;
    width: 110px;
    height: 110px;
}
.contributor img {
    height: 100%;
    width: auto;
}
.contributor .fa-user {
    font-size: 8em !important;
    color: #051937;
}
.contributor .fa-user-circle {
    font-size: 6.9em !important;
    color: #051937;
    margin-bottom: 7px;
}
.contributor .name {
    font-weight: bold;
}
.contributor .title {
    font-style: italic;
    margin-top: -3px;
    line-height: 1.5rem;
    height: 28px;
}
.contributor .platform {
    /*margin-top: 5px;*/
    font-size: 1.5rem;
}
.contributor .handle {
    font-style: italic;
}
.contributor .fa-square {
    color: transparent;
}


#social-group {
    text-align: center;
    padding: 5px;
    margin-top: 45px;
}
.social {
    display: inline-block;
    padding-bottom: 45px;
    text-align: center;
    width: 105px;
    vertical-align: top;
}
.social .name {
    font-weight: bold;
}






/*
<div class="contributor">
    <div class="fa fa-user" aria-hidden="true"></div>
    <!-- <div class="img-round"><img src="../../img/contributors/dan-metcalf.jpeg"></div> -->
    <div class="name">Dan Metcalf - Development</div>
    <div class="handle">Discord @atcsecure</div>
    <!-- linkedin -->
    <a href="https://www.linkedin.com/in/dan-metcalf-b821a812/" target="_blank"><i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i></a>
    <!-- twitter -->
    <a href="" target="_blank"><i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i></a>
    <!-- github -->
    <a href="" target="_blank"><i class="fa fa-github-square fa-2x" aria-hidden="true"></i></a>
</div>
*/



























